<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<h1 th:text="#{book.edit.edit}"></h1>
<p>
    <a href="/book" th:text="#{login.title.booklist}"></a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>

<form th:action="@{/edit-book}" th:object="${book}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td th:text="#{book.create.name}"></td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td th:text="#{book.create.date}"></td>
            <td><input type="text" th:field="*{dateOfPurchase}"/></td>
        </tr>
        <tr>
            <td th:text="#{book.create.Author}"></td>
            <td><input type="text" th:field="*{author}"/></td>
        </tr>
        <tr>
            <td th:text="#{book.create.Price}"></td>
            <td><input type="text" th:field="*{price}"/></td>
        </tr>
        <tr>
            <td th:text="#{book.create.Category}"></td>
            <td>
                <select name="category">
                    <option th:each="p:${categories}"
                            th:value="${p.id}"
                            th:text="${p.name}"
                            th:selected="(${p.id}==*{category.id})">
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" th:value="#{book.edit.update}"></td>
        </tr>
    </table>
</form>
</body>
</html>